module.exports = {
  TOKEN: "Discord Bot Token",
  MAX_PLAYLIST_SIZE: 25,
  STAY_TIME: 10,
  DEFAULT_VOLUME: 100,
  id: "client id",
  clientSecret: "client secret",
  domain: "http://localhost",
  port: 8080,
  SOUNDCLOUD_CLIENT_ID: "Client ID for Souncloud",
  DBCONNECTION: "database on MongoDb",
  DEFAULTSETTINGS: {
    prefix: ".",
    logChannel: "reports",
    welcomeMessage: "Bienvenue ! {{user}}",
    welcomeChannel: "bienvenue"
  }
}