<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Welcome to Nobara's Dashboard!</h2>
    <p>🔨🔩 | Un bot discord franco-anglais avec plusieurs fonctionnalités à savoir Economy, Music, XP, Moderation, ...</p>
    <p>A big shotout to <a href="https://github.com/MrAugu/simple-discordjs-dashboard">MrAugu</a>for the dashboard base.</p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-primary text-white" href="https://github.com/SonMaxime/Nobara.JS">GitHub</a>
    <a class="btn btn-warning" href="">Discord Server (soon)</a>
  </div>
</div>

<%- include("partials/footer") %>