<!DOCTYPE html>

<html lang="fr">

<head>
    <%- include("partials/head", { bot, user, path, title: "Acceuil" }) %>
</head>

<style>
    body {
      background: #393e46;
      color: #eeeeee;
      font-family: Arial;
      font-size: 16px;
    }
</style>

<body class="container">
    <header>
        <%- include("partials/header", { bot, user, path, title: "Acceuil" }) %>
    </header>

    <main>

        <div class="jumbotron">
            <style>
                p {
                  color: black;
                }
                </style>
            <a href="/dashboard">Aller au pannel de configuration</a><br>

        </div>

    </main>

    <footer>

        <%- include("partials/footer") %>

    </footer>

</body>
</html>